
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="/" class="app-brand-link">
              <span class="app-brand-logo demo">
                <img src="/assets/img/logo.png" />
              </span>
              <span class="app-brand-text demo menu-text fw-bold"><%= mainTitle %></span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
              <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"></i>
              <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboards -->
            <li class="menu-item">
              <a href="/u/dashboard" class="menu-link">
                <i class="menu-icon tf-icons ti ti-smart-home"></i>
                <div data-i18n="Dasbor">Dasbor</div>
              </a>
            </li>

            <!-- Misc -->
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text" data-i18n="Apps">Apps</span>
            </li>
            <li class="menu-item">
              <a href="/u/booking-vehicle" class="menu-link">
                <i class="menu-icon tf-icons ti ti-car"></i>
                <div data-i18n="Pemesanan Kendaraan">Pemesanan Kendaraan</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/u/history" class="menu-link">
                <i class="menu-icon tf-icons ti ti-shopping-cart"></i>
                <div data-i18n="Riwayat Pesanan">Riwayat Pesanan</div>
              </a>
            </li>
            
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text" data-i18n="Dukungan">Dukungan</span>
            </li>
            <li class="menu-item">
              <a target="_blank" href="https://www.instagram.com/fahmihdytllah" class="menu-link">
                <i class="menu-icon tf-icons ti ti-brand-instagram"></i>
                <div data-i18n="Instagram">Instagram</div>
              </a>
            </li>
          </ul>
        </aside>